@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.block {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1rem;
}